#intestazione{
    background-image: url("../img/pattern.png");
    background-position: 130px 0;
    background-color: #4ea0ff;
}

#logo{
    width: 320px;
    margin: 60px 10px 30px;
}

h1{
    font-size: 40px;
}

.foto-tim {
    font-size: small;
}

ul{
    list-style-position: inside;
    padding-left: 0;
}

th{
    background-color: #20a9e5;
    color: white;
}

.azzurro{
    background-color: #b1e5f2;
}